
body{
    background-size: 100%;
}


.weatherShow{
    height: 65vh;
    width: 100%;
    border-radius: 10px;
    background-color: green;
}

.clothes{
    height: 100px;
    width: 250px;
    margin-top: 50px;
    margin-left: 525px;
    background-color: yellow;
}

#cityShow{
    color:  yellow;
    font-size: 22px;
    text-align: center;
    margin-top: 25px;
}

#cloudsShow{
    color:  yellow;
    font-size: 22px;
    text-align: center;
    margin-top: 25px;
}

#tempShow{
    color: yellow;
    font-size: 20px;
    text-align: center;
    margin-top: 25px;
}

#pressureShow{
    color: yellow;
    font-size: 20px;
    text-align: center;
}

img{
    margin-right: 20%;
}

#weather{
    margin-left: 200px;
    margin-top: 25px;
    width: 100px;
    height: 100px;
}

#select{
    background-color: #97dc14;
    border-radius: 25px;

}


article{
    opacity: 0.7;
}
